$bg-color: rgba(196, 196, 196, 0.6);
$card-color: #E5E5E5;
$grey: rgba(240, 241, 242, 0.5);
$black: #37474F;
$green: #5EC401;
$greenlight: rgba(94, 196, 1, 0.4);
$orange: #F37A20;
$red: #FF5552;
$yelllow: rgba(253, 229, 152, 0.7);
$blue: rgba(183, 223, 245, 0.7);
$pink: rgba(247, 165, 147, 0.7);
$violet: rgba(211, 176, 224, 0.7);